/* dashboard.css */
.profile-page-wrapper {
    width: 100%;
}

.title-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 6rem;
}

.profile-wrapper {
    display: flex;
    width: 100%;
    margin-top: 3.5rem;
    gap: 2.5rem;
}

.profile-wrapper .w-[236px] {
    min-height: 600px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-wrapper .flex-col {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}

.profile-wrapper .flex-col .item a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: #606060;
}

.profile-wrapper .flex-col .item a:hover {
    color: #f87171; /* Red-500 */
}
